# compiled output
/dist
/node_modules
/build
/python-server/__pycache__
# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# Tests
/coverage
/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# temp directory
.temp
.tmp

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Environment variables
.env

# Ignore package-lock.json
package-lock.json

# Python bytecode and build artifacts
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg
*.egg-info/
build/
dist/

# Virtual environments
venv/
.venv/
env/
.env/

# Sensitive information
.env
*.key
*.pem
secrets.py

# Editor and IDE-specific files
.vscode/
.idea/
*.swp

# Log files and temporary files
*.log
*.tmp

# Operating system specific files
.DS_Store
Thumbs.db

# Jupyter Notebook specific files
.ipynb_checkpoints/

# Coverage reports
.coverage
htmlcov/